streamlit
# Forzamos una versión anterior de numpy para evitar conflictos con Numba/Spleeter
numpy<2.0.0
# Librerías de audio
librosa
openai-whisper
imageio-ffmpeg
python-docx
# Spleeter es delicado, a veces requiere setuptools para instalarse
spleeter
setuptools